name: BuildTest
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    env:

      workingDirectory: ${{github.workspace}}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 17
      - run: chmod +x gradlew
        working-directory: ${{ env.workingDirectory }}
      - name: Install roboRio toolchain
        run: ./gradlew installRoboRioToolchain
        working-directory: ${{ env.workingDirectory }}
      - name: Build robot
        run: ./gradlew build
        working-directory: ${{ env.workingDirectory }}
      # Might be worth making a unit test to make sure the code can live through startup
      # - name: Unit tests
      #   run: ./gradlew test
      #   working-directory: ${{ env.workingDirectory }}
