name: build
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    env:
      releaseVersion: ${{ inputs.releaseVersion }}
      releaseName: ${{ github.event.release.name }}
      workingDirectory: ${{github.workspace}}

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 17
      - run: chmod +x gradlew
        working-directory: ${{ env.workingDirectory }}
      - name: Install roboRio toolchain
        run: ./gradlew installRoboRioToolchain
        working-directory: ${{ env.workingDirectory }}
      - name: Build
        run: ./gradlew build
        
        working-directory: ${{ env.workingDirectory }}
      - name: Unit tests
        run: ./gradlew test
        working-directory: ${{ env.workingDirectory }}
